.show-card .card-body{
    padding: 0 !important;
}
.show-img{
    height: 60vh;
    width:100%;
    border-radius: 1rem 1rem 0 0 !important;
    position:relative;
}
/* .card-img-top{
    height: 100%;
    width: 100%;
    transition: all 1.1s;
} */
.btns{
    display:flex;
    width:80% !important;
}